<div ng-cloak class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Find the cheapest destination</</h2>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <form role="form" ng-submit="search()" ng-controller="SearchController" name="searchForm">
                <div class="table-responsive">
                    <table class="table">
                        <tr ng-repeat="quotes in range(route_count) track by $index" ng-include="'route_inputs.html'"></tr>
                    </table>
                    <button type="button" ng-hide="route_count > 4" ng-click='addRoute()' class="btn btn-primary">Add Departure</button>
                    <button type="button" ng-show="route_count > 1" ng-click='delRoute()' class="btn btn-primary">Remove Departure</button>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/ng-template" id="route_inputs.html">
    <th style="width:3%; vertical-align:middle">
        {{$index+1}}
    </th>

    <td style="width:40%">
        <div class="form-group">
            <label for="search__origin">Departure</label>
            <!--            <input type="text" class="form-control" id="search__origin" ng-model="search_routes[$index].origin" uib-typeahead="place.name for place in places" />-->
            <input type="text" name={{autocomplete_origins[$index].input_name}} ng-model="search_routes[$index].origin" placeholder="Destination Departure" uib-typeahead="origin.display  for origin in getOrigins($viewValue, $index)" typeahead-loading="LoadingDeparturePlaces" typeahead-no-results="noResults" class="form-control">
            <i ng-show="loadingDepartures" class="glyphicon glyphicon-refresh">Loading departures</i>
            <div ng-show="noResults">
                <i class="glyphicon glyphicon-remove"></i> No departure matching your entry.
            </div>

        </div>
    </td>

    <td style="width:30%">
        <div class="form-group">
            <label for="login__departure_date">Departure date</label>
            <p class="input-group">
                <input type="text" id="" class="form-control" uib-datepicker-popup="{{format}}" ng-model="search_routes[$index].departure_date" is-open="popups_departure_date[$index].state" datepicker-options="DateOptions[$index].departure" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-change="update_return_date($index)" show-button-bar="false" />
                <span class="input-group-btn">
            <button type="button" class="form-control" ng-click="open_departure_date_p($index)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </td>
    <td style="width:30%">
        <div class="form-group">
            <label for="login__return_date">Return date</label>
            <p class="input-group">
                <input type="text" id="" class="form-control" uib-datepicker-popup="{{format}}" ng-model="search_routes[$index].return_date" is-open="popups_return_date[$index].state" datepicker-options="DateOptions[$index].return" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                <span class="input-group-btn">
            <button type="button" class="form-control" ng-click="open_return_date_p($index)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </td>
</script>
